.div{
    text-align: center;
    display: block;
}
.titulo{
  margin-bottom: 1,1rem;
  text-align: center;
  font-weight: bold;
}
.parrafo{
  font-size: 1,2rem;
}
.button{
   margin-top: 10px;
   background-color: rgb(46, 173, 52);
   color: white;
   border: none;
   padding: 13px;
   border-radius: 8px;
   cursor: pointer;
   transition: 0.4s;
   gap:3rem;
   
}

